ParallelBridge.suo
ParalellBridge.5.1.ReSharper.user
ParallelBridge.5.1.ReSharper.user
_ReSharper.ParalellBridge
_ReSharper.ParallelBridge
ParallelBridge/bin/
ParallelBridge/obj/
ParallelBridge/ParallelBridge.csproj.user
